*{
  margin:0;
  padding:0;
}
body{
  background: #353535;
}
header{
  z-index: 1;
  width:100%;
  background: #5E5E5E;
  height: 70px;
  position: fixed;
}
.conf{
  width: 100%;
  height: 70px;
  margin: auto;
}
nav{
  width: 70%;
  height: 70px;
  float:right;
  text-align: right;
  padding-top: 24px;
}
nav ul li{
  display: inline;
}
nav ul li a{
  color: black;
  position: right;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  letter-spacing: 1px;
  font-family: Iceland;
}
 
nav ul li a:hover{
  color:#FFFFFF;
}
@font-face{
  font-family: Iceland;
  src:url(src/iceland.ttf);
}
hr{
  height: 10px;
  background: #6C6E74;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Iceland;
}
figure{
  margin: 5.1%;
  display: inline-block;
  position: relative;
}
figcaption{
  text-align: center;
  color: #FFFFFF;
  display: none;
  background: rgba(0,0,0,0.7);
  position: absolute;
  bottom: 4px;
  width: 100%;
}
figure:hover figcaption{
  display: block;
  position: relative;
  padding: 3%;
}
.img1{
  width: 500px; 
  height: 500px;
}  
.img2{
  width: 500px; 
  height: 500px;
} 
.bio-dairo{
  text-align: center;
  width: 500px; 
  height: 500px;
  font-family: Iceland;
  font-size: 25px;
  color: #000000;
}
.bio-camilo{
  text-align: center;
  width: 500px; 
  height: 500px;
  font-family: Iceland;
  font-size: 25px;
  color: #000000;
}

.titulo-b{
	text-align: center;
	font-family: Iceland;
	color: #000000;
	font-size: 60px;

}
section h1{
	text-decoration: none;
	color: #000000;
	font-family: Iceland;
	font-size: 30px; 
}
section a{
	text-decoration: none;
	color: #000000;
	font-family: Iceland;
	font-size: 40px; 
}
form ul li h2{
	font-family: Iceland;
	text-align: center;
	color: #000000;
	font-size: 50px;
}
form ul li label{
	font-family: Iceland;
	color: #000000;
	font-size: 30px;
}
.texto{
	float: right;
}
.submit{
	font-family: Iceland;
	color: #000000;
	font-size: 30px;
}
.contact_form ul{
	list-style-type: none;
}
.contact_form label{
	width: 150px;
	margin-top: 3px;
	display: inline-block;
	padding: 3px;
}
.contact_form input{
	height: 40px;
	width: 220px;
	padding: 5px 8px;
}
.contact_form textarea {padding: 8px; width: 300px;}
.contact_form button {margin-left: 156px;}
section a img{
	float: right;
	width: 5%;
}
.slider{
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 20s infinite alternate;
  animation-timing-function: ease-in;
}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
}
@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
.video{
  margin: 0 auto;
  padding-top: 60px;
  width: 550px;
  height: 450px;
}
