*{
  margin:0;
  padding:0;
}
body{
  background: #1C1B1B;
}
header{
  z-index: 1;
  width:100%;
  background: #424242;
  height: 70px;
  position: fixed;
}
.conf{
  width: 100%;
  height: 70px;
  margin: auto;
}
.logo{
  width: 30%;
  height: 70px;
  float: left;
  padding-top: 10px;
}
nav{
  width: 70%;
  height: 70px;
  float:right;
  text-align: right;
  padding-top: 24px;
}
 
.logo a{
  color:#fff;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  font-family: Iceland;
}
nav ul li{
  display: inline;
}
nav ul li a{
  color: #000000;
  position: right;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  letter-spacing: 1px;
  font-family: Iceland;
}
 
nav ul li a:hover{
  color:#1C1C1C;
}
@font-face{
  font-family: Iceland;
  src:url(src/iceland.ttf);
}
hr{
  height: 10px;
  background: #6E6E6E;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "ICeland";
}
figure{
	margin: 0;
	display: inline-block;
	position: relative;
}
figcaption{
	text-align: center;
	color: #000000;
	display: none;
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 4px;
	width: 100%;
	padding: 5%;
}
figure:hover figcaption{
	display: block;
	position: relative;
	padding: 5%
}
.img1{
	width: 500px; 
	height: 500px;
	float: left;
}	
.img2{
	width: 500px; 
	height: 500px;
	float: right;
} 
.bio-dairo{
	padding-bottom: 25px;
	text-align: left;
	font-family: Iceland;
	font-size: 25px;
	color: #000000;
}
.bio-camilo{
	padding-bottom: 25px;
	text-align: right;
	font-family: Iceland;
	font-size: 25px;
	color: #000000;
}
.item1{
	float: left;
}
.item2{
	float: right;
}
.video{
	position: relative;
	bottom: 380px;
	width: 100%; 
}
.titulo-b{
	text-align: center;
	font-family: Iceland;
	color: #6E6E6E;
	font-size: 60px;

}
.container{
  margin: 50px auto;
  width: 400px;
}
.galeria{
  background-color: #424242;
  overflow: hidden;
}
.Numeros{
  text-align: center;
  font-size: 40px;
  padding: 5px 10px;
}
.Botones{
  text-align: center;
}
.Botones a{
  display: inline-block;
  padding: 0px 10px;
  color: #000000;
  text-decoration: none;
  font-family: Iceland;
  font-size: 40px;
}
.Botones a:hover{
  color: #018CF8;
}
.Imagenes{
  width: 2000px;
}
.Imagen{
  width: 400px;
  height: 1%;
  display: inline-block;
  vertical-align: top;
}
section h1{
	text-decoration: none;
	color: #000000;
	font-family: Iceland;
	font-size: 30px; 
}
section a{
	text-decoration: none;
	color: #000000;
	font-family: Iceland;
	font-size: 40px; 
}
form ul li h2{
	font-family: Iceland;
	text-align: center;
	color: #6E6E6E;
	font-size: 50px;
}
form ul li label{
	font-family: Iceland;
	color: #000000;
	font-size: 30px;
}
.texto{
	float: right;
}
.submit{
	font-family: Iceland;
	color: #000000;
	font-size: 30px;
}
.contact_form ul{
	list-style-type: none;
}
.contact_form label{
	width: 150px;
	margin-top: 3px;
	display: inline-block;
	padding: 3px;
}
.contact_form input{
	height: 40px;
	width: 220px;
	padding: 5px 8px;
}
.contact_form textarea {padding: 8px; width: 300px;}
.contact_form button {margin-left: 156px;}
section a img{
	float: right;
	width: 5%;
}
#container{
	width: 80%;
	height: 450px;
	border: 1px solid black;
	margin: 0 auto;
	position: relative;
}
#container img{
	width: 100%;
	height: 100%;
	position: absolute;
}
.btn{
	position: absolute;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 25px;
	top: 200px;
	background: black;
	color: white;
	font-size: 20PX;
}
#container #btn1:hover{
	box-shadow: 10px 0px 20px 10px black;
}
#btn2{
	position: relative;
	float: right;
}